/* Defaults
----------------------------------------------------------------------*/

html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    background: black;
    color: white;
    background-attachment: fixed;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
}

* {
    outline: none;
}

:root {
    --accent-color: #0052AA;
}

/* Surfer style
------------------------------------------------------------------ */

#waveforms div {
    position: absolute;
    width: 100%;
}

/* Surfer region style
------------------------------------------------------------------ */

#waveforms div {
    position: absolute;
    width: 100%;
}

#waveforms ::part(region-handle-right),
#waveforms ::part(region-handle-left) {
    border-color: #AAA;
}

#waveforms ::part(region) {
    background-color: #77777744;
}

/* Add-bar style
------------------------------------------------------------------ */

#addbar {
    display: flex;
    margin-top: 20px;
    height: 70px;
    padding: 0;
    border-radius: 5px;
    background-color: #333;
}

#addbar > input {
    background-color: transparent;
    margin: 0;
    padding: 10px;
    border: 0;
    height: 100%;
    width: 100%;
    font-size: 30px;
    margin-right: 5px;
}

#addbar > button {
    height: 100%;
    background-color: transparent;
    aspect-ratio: 1;
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

#addbar > button:hover {
    background-color: var(--accent-color);
}

#addbar > #addButton {
    background-image: url("../icon/add.svg");
}

#addbar > #playButton {
    background-image: url("../icon/play.svg");
}

#addbar > *:last-child {
    margin-right: 0;
}

/* Row style
------------------------------------------------------------------ */

#rows div {
    display: flex;
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
    transition-duration: 0.1s;
    transform: scale(0.975);
}

#rows div.active {
    transform: scale(1);
}

#rows div.active h5 {
    background-color: var(--accent-color);
}

#rows > div > * {
    background-color: #333;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    height: 100%;
}

#rows > div > *:last-child {
    margin-right: 0;
}

#rows > div h5 {
    display: flex;
    flex: 1;
    padding-left: 5px;
    align-items: center;
    transition-duration: 0.1s;
}

#rows > div button {
    display: flex;
    padding: 0;
    aspect-ratio: 1;
    margin: 0;
    margin-right: 5px;
    border: 0;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

#rows > div button.delete {
    background-image: url("../icon/delete.svg");
}

#rows > div button.delete:hover {
    background-color: #bf451a;
}

#rows > div button.toggleBackwards {
    background-image: url("../icon/backwards.svg");
}

#rows > div button.active {
    background-color: var(--accent-color);
}

/* command result style
------------------------------------------------------------------ */

#commandResult {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
}

#commandResultToast {
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #0000;
    transition-duration: 0.1s;
    transform: translateY(calc(50% + 10px)) scale(0.0);
    align-items: center;
    justify-content: center;
    display: flex;
}

#commandResultToast.visible {
    transform: translateY(0px) scale(1.0);
    background-color: #333;
}
